.dialog {
    border: none;
    border-radius: 8px;
    padding: 24px;
    background: #202020;
}

.dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}